/target
**/target/
/resources/tests/*.json
*.jtl
*.log
/rinha-de-backend-2025
/database/database/bin/
/database/bin/
/database/obj/
/gateway/bin/
/gateway/obj/
*.dll
*.exe
*.pdb
/k6-v0.54.0-linux-amd64/
publish.sh